<div id="body-slider">
    <div class="slider-container">
        <input type="range" min="0" [max]="maxSliderValue" value="1" step="1" class="slider" id="mySlider" (input)="changeImage($event.target)">
<!--        <div class="slider-value" id="sliderValue">{{sliderValue}}</div>-->
    </div>
    <div id="image-container" #imageContainer>
        <img id="image" [src]="imageSrc" alt="Votre image" #sliderImage>
        <div id="overlay" #overlay></div>
        <div id="cercle" #cercle style="position: absolute"></div>
    </div>
</div>
